html{
    overflow-y: scroll;
}
html,body {
    --color-primary: #393a39;
    --color-primary-dark: #232423;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;
    
    background: linear-gradient(to bottom, #000000, #1f1e1e);
    padding: 0;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}



/*  Logo   Services   Portfolio   Team   Contact Us   |   Login   */
.Header {
    background-color: rgba(25, 25, 27, 0.7);
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    place-content: center;
    background-blend-mode: 50%;
}
.nav {
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.nav a .LogoIcon {
    height: 50px;
    width: auto;
    margin-right: 65px;
    vertical-align: middle;
}
.nav .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav .ul li {
    display: inline;
    margin: 0 65px;
    color: #fff;
}
.nav .ul li a {
    color: #d8d4d4;
    text-decoration: none;
    font-size: 17px;
}





.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
}

.container,
.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover {
    background: var(--color-primary-dark);
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}










/* Styling the scrollbar track (background) */
::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
    background-color: #1f1e1e; /* background color of the scrollbar track */
  }
  
  /* Styling the handle (draggable part) of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: #383737; /* color of the scrollbar thumb */
    border-radius: 3px; /* roundness of the scrollbar thumb */
    border: 1px solid #5e5d5d; /* creates padding effect */
  }
  
  /* Styling the buttons on the scrollbar (up and down arrows, not always present) */
  ::-webkit-scrollbar-button {
    display: none; /* this will hide the buttons */
  }
  
  /* Styling the draggable scrolling handle when hovering */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
  }