body {
    background: linear-gradient(to bottom, #000000, #cfcfcf);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 9000px;
}



/*  Logo   Services   Portfolio   Team   Contact Us   |   Login   */
.Header {
    background-color: rgba(25, 25, 27, 0.7);
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    place-content: center;
    background-blend-mode: 50%;
}
.nav {
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.nav a .LogoIcon {
    height: 50px;
    width: auto;
    margin-right: 65px;
    vertical-align: middle;
}
.nav .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav .ul li {
    display: inline;
    margin: 0 65px;
    color: #fff;
}
.nav .ul li a {
    color: #d8d4d4;
    text-decoration: none;
    font-size: 17px;
}