body {
    background: linear-gradient(to bottom, #000000, #cfcfcf);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 9000px;
}



/*  Logo   Services   Portfolio   Team   Contact Us   |   Login   */
.Header {
    background-color: rgba(25, 25, 27, 0.7);
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    place-content: center;
    background-blend-mode: 50%;
}
.nav {
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.nav a .LogoIcon {
    height: 50px;
    width: auto;
    margin-right: 65px;
}
.nav .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav .ul li {
    display: inline;
    margin: 0 65px;
    color: #fff;
}
.nav .ul li a {
    color: #d8d4d4;
    text-decoration: none;
    font-size: 17px;
}

.FirstSection {
  padding-bottom: 530px;
  background-image: url(../Photo/Sketch2.png);
  background-repeat: no-repeat; /* To ensure the image doesn't repeat */
  background-position: center; /* To center the background */
  border-style: solid;
}

/*  Main Logo  */
.DivHomeLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}
#ImgHomeLogo {
    height: auto;
    width: 700px;
}



/*  Main Logo Description and Button */
.DivHomeDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 70px;
}
#HomeLogoDescription {
    color: rgb(124, 121, 121);
    font-weight: 500;
    font-size: 16px;
    height: auto;
    width: 900px;
    display: flex;
    justify-content: center;
}
.DivHomeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 70px;
}
#HomeButton {
    padding: 10px 20px;
    border: none;
    background-color: #323332;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
#HomeButton:hover {
    background-color: #202020;
}












*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

iframe {
  aspect-ratio: 16/9;
}

.video-container {
  margin: 2rem;
  max-height: 300px;
}

img {
  display: block;
  max-width: 100%;
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;

  --position: 50%;
}

.image-container {
  width: 800px;

}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
  filter: grayscale(100%)
}

.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  /* for Firefox */
  width: 100%;
  height: 100%;
}

.slider:focus-visible ~ .slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}

.slider-line {
  position: absolute;
  inset: 0;
  width: .2rem;
  height: 100%;
  background-color: #000000;
  /* z-index: 10; */
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.slider-button {
  position: absolute;
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: .5rem;
  border-radius: 100vw;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  /* z-index: 100; */
  box-shadow: 1px 1px 1px hsl(0, 50%, 2%, .5);
}